name: Racket Tests (HtDP BSL)

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Racket 
      uses: Bogdanp/setup-racket@v1.14
      with:
        architecture: 'x64'  # or: 'x64', 'x86', 'arm32', 'arm64' (or 'aarch64')
        distribution: 'full' # or: 'minimal' (but you probably don't want 'minimal', see note at the bottom of this doc)
        variant: 'CS'        # or: 'BC' for Racket Before Chez
        version: '9.0'
      # or: 'stable' for the latest version, 'current' for the latest snapshot, 'pre-release' for the latest pre-release build (defaults to 'stable')
    - name: Run Tests
      run: |
        raco test .